<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Busqueda de Estudiante por NOMBRE</h1>

<form action="" method="GET">
    {{formularioEs}}
    <button type="submit">Buscar</button>
</form>
 

    {% if resultado %}
        <ul>
        {% for estudiante in resultado %}
            <li>{{estudiante.nombre}}</li>   
        {% endfor %}
        </ul>
    {% else %}
        <h1> No hay estudiantes con ese criterio !!</h1>
    {% endif %}


</body>
</html>