<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if formProf.errors %}

    <p style="color: red;"> Revise los datos ingresados.</p>

    {% endif %}

    <form action="" method="POST">
        {%csrf_token%}

        <table>
            
            {{formEstu.as_table}}
            <button type="submit"> ENVIAR</button>
        </table>
    </form>
</body>
</html>